body{
	margin: 0;
	padding: 0;
}
section{
	
background-image:url(../images/one.png);
height: 100vh;	
background-repeat: no-repeat;	
background-color: white;	
background-position: right bottom;	
background-size: 70%;
}

header, .contents{

background-color: #00edff;
width: 90%;
margin-left: auto;
margin-right: auto;
position: relative;

}
div{
    width: 20%;
    float: left;
}
.logo{
    color: #00215b;
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;
    padding-top: 15px;
}
nav{
    width: 70%;
    float: right;
}

nav ul{
    padding: 0;
    margin: 0;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #594a5f;
    font-size: 15px;
    padding: 10px 30px;
    display: block;
    transition-duration: 1s;
}

nav ul li a:hover{
	color: #ffffff;	
	background-color: #00A9D6;
}

.content{
	width: 40%;
	position: absolute;
	margin-top: 15%;
	margin-left: 70px;
}
.content .btn{
	border: 2px solid black;
	border-radius: 30px;
	background: #fff;
	padding: 10px;
}
.content .btn a{

	margin: 10px;
	color: black;
	text-decoration: none;
	transition-duration: 1s;
}

.content .btn:hover{
	color: #ffffff;
	background-color: #00A9D6;
}

.content p{
	margin-bottom: 10%;
}

.content h1{
	font-size: 40px;
	margin-bottom: 10%;
}